<div class="cat-container">
  <mat-form-field class="example-full-width">
    <mat-label>Filtro de razas</mat-label>
    <input
      matInput
      placeholder="abys"
      value="Sushi"
      [(ngModel)]="filterText"
      (input)="applyFilter()"
    />
  </mat-form-field>
  <table mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef>Origen</th>
      <td mat-cell *matCellDef="let element">{{ element.origin }}</td>
    </ng-container>

    <ng-container matColumnDef="life">
      <th mat-header-cell *matHeaderCellDef>Esperanza de vidas</th>
      <td mat-cell *matCellDef="let element">{{ element.life_span }} años</td>
    </ng-container>

    <ng-container matColumnDef="hypoallergenic">
      <th mat-header-cell *matHeaderCellDef>Hipoalergénico</th>
      <td mat-cell *matCellDef="let element">
        <p
          [ngClass]="{
            'text-success': element.hypoallergenic,
            'text-danger': !element.hypoallergenic
          }"
        >
          {{ element.hypoallergenic ? "Sí" : "No" }}
        </p>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
