/* You can add global styles to this file, and also import other style files */
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss' as owl-carousel;
@use 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss' as owl-theme;

html, body { height: calc(100% - 74px); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-danger {
    color: #C82333;
}

.text-success {
    color: #28A745;
}
